@charset "UTF-8";

/* 부드러운 카드 모서리와 그림자 효과 (로그인 폼과 패밀리룩) */
.custom-card {
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
}