<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">

	<!-- 기본 화면 진입점,접속 시 기본으로 보여줄 파일 설정 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 서블릿 관련 설정 -->
	<servlet>
		<!-- 서블릿 이름  -->
		<servlet-name>frontController</servlet-name>
		<!-- 실행할 서블릿 클래스 이름 -->
		<servlet-class>kr.co.ledger.controller.FrontController</servlet-class>
		
		<init-param>
			<!-- 자바 코드에서 설정값을 꺼내오기 위한 파라미터 키 -->
			<param-name>configFile</param-name>
			<!-- 주소록 파일 연결 -->
			<param-value>/WEB-INF/command.properties</param-value>
		</init-param>
		
		<!-- 서블릿(프론트컨트롤러)미리 세팅 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 주소 연결 관련 설정 -->
	<servlet-mapping>
		<!-- 서블릿 관련 설정과 연결하기 위한 동일한 이름 -->
		<servlet-name>frontController</servlet-name>
		<!-- 주소 패턴 등록 -->
		<url-pattern>*.do</url-pattern>	
	</servlet-mapping>
	
	<!-- 휴면 계정 자동 전환 백그라운드 스케줄러 등록 -->
    <listener>
        <listener-class>kr.co.ledger.listener.DormantBatchListener</listener-class>
    </listener>
    
    <!-- 404 에러 (Page Not Found) -->
	<error-page>
	    <error-code>404</error-code>
	    <location>/WEB-INF/views/common/404.jsp</location>
	</error-page>
	
	<!-- 500 에러 (Internal Server Error) -->
	<error-page>
	    <error-code>500</error-code>
	    <location>/WEB-INF/views/common/500.jsp</location>
	</error-page>
    
</web-app>